<nav class="navbar">
  <ul class="ul-navbar d-none d-md-block col-md-8">
    <li>
      CURRENCY
      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
    </li>
    <li>
      ITEMS
      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
    </li>
    <li>
      ACCOUNTS
      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
    </li>
    <li>
      SWAP
      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
    </li>
    <li>
      SELL
      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
    </li>
  </ul>
  <ul class="ul-navbar col-12 col-md-4 text-center text-md-right">
    <li>
      USD
      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
    </li>

    <li>
      <button class="button-sign-in">
        SIGN IN
        <img src="../assets/img/profile.webp" alt="profile" loading="lazy" width="16" height="14">
      </button>
    </li>
  </ul>
</nav>

<img alt="background image" class="background-img hr-l-59 hr-md-82 hr-sm-112 hr-120" src="../assets/img/background.jpg">

<div class="container mt-5 col-12 col-sm-10">
  <h2 class="text-white text-center text-md-left f-s-2">
    Condimentum Consectetur
  </h2>

  <div class="container b-1 b-c-primary p-5 bg-c-dark">
    <div class="col-12 col-md-9">
      <p class="text-gray text-center text-md-left">Showing 10 - from 125</p>
    </div>
    <div class="col-12 col-md-3 text-sm-center text-right">
      <div class="bg-c-dark-light py-1 text-right w-78 c-pointer m-auto">
        <div class="col-3 dropdown-img-container">
          <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
        </div>
        <div class="col-6">
          <p class="sort-by m-0 text-left text-gray text-small">
            Sort by
          </p>
          <h4 class="featured m-0 text-left text-white">
            Feature
          </h4>
        </div>
        <div class="col-3 dropdown-img-container">
          <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
        </div>
      </div>
    </div>

    <div class="container p-2">
      <div class=" text-center">
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-l-3">
          <div class="px-1 py-1">
            <div class="label py-1">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <span class="relative ml-1">
                      <i class="green-pointer"></i>
                    </span>

                    <span class="m-0 ml-2 text-light-gray text-reduce">
                      ON SALE
                    </span>
                  </div>
                  <div class="row">
                    <div class="stock text-small mt-0-5 ml-2">
                      In stock
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="bg-c-dark-light py-1 text-right c-pointer relative h-2 ml-1 mr-1">
                    <div class="col-6 a-c-v l-1">
                      <h4 class="featured m-0 text-left text-white">
                        1
                      </h4>
                    </div>
                    <div class="col-6 dropdown-img-container a-c-v l-2 t-15">
                      <img src="../assets/img/arrow-down.svg" alt="arrow-down" class="navArrow" width="11" height="7">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-md-8">
                  <div class="mt-1 ml-1">
                    <img src="../assets/img/background.jpg" alt="arrow-down" class="w-100">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <p class="m-0 ml-1 text-light-gray relative t--0-7">
                    Blue PartyHat
                  </p>
                </div>
                <div class="col-4">
                  <img src="../assets/img/b6bfc973-2535-42c1-80ee-9372cee88daa.png" height="35">
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-light-gray text-reduce ml-1">
                  $450.00&nbsp;<span>$522.50<span class="line"></span></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-gray text-small ml-1 text-balance">
                  Lorem ipsum dolor sit amet consetetur sadipscing elitr.
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-12 text-center">
                  <button class="btn btn-disabled text-light-gray text-center ml-1">DETAILS</button>
                  <button class="btn btn-primary text-white ml-1 text-center">
                    ADD
                    <span class="logo-button"><img src="../assets/img/arrow-down.svg" height="10" width="20"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>